<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/3/33/Micos_IMG_2130a.jpg"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card__title">
    <h1> <a href="#"> Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
        <a href="#">
      Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma
      cachacis que pode alegrar sua vidis.Quem manda na minha terra sou
      euzis!Cevadis im ampola pa arma uma pindureta.Admodum accumsan
      disputationi eu sit. Vide electram sadipscing et per. Interagi no mé,
      cursus quis, vehicula ac nisi.Si num tem leite então bota uma pinga aí
      cumpadi!Cevadis im ampola pa arma uma pindureta.Copo furadis é disculpa de
      bebadis, arcu quam euismod magna.
    </a>
    </p>
  </div>
</div>
