.container_content{
    border-color: red;
    width: 100%;
    height: 100%;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}


.content__cover > img{
    border: 1px solid rgb(144,144,144);
    border-radius: 5px;
    width: 800;
    height: 400px;
    min-width: 800;

}
.conent_description {
    margin-top: 15px;
}

.conent_description >p{
    margin: 10px 0;
    font-size: 20px;
    padding: 30px;
    color:  rgb(252, 250, 250);
}