<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://gartic.com.br/imgs/mural/t0/t0bi_madara/yondaime-hokage.png"
      cardTitle="Yondaime Relâmpago Amarelo "
      cardDescription="Minato Namikaze: ele é o quarto Hokage da Vila Oculta da Folha, também conhecido como 'Yondaime Hokage'. 
      Ele é muito habilidoso em técnicas de selamento e também é conhecido como 'Relâmpago Amarelo de Konoha' devido à sua velocidade e habilidades em técnicas relacionadas ao elemento raio."
    >
    </app-big-card>

   
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://i.pinimg.com/originals/f9/c5/e1/f9c5e1ad4f550c6a91e56123c795c97d.png"
      cardTitle="A luta decisiva"
      cardDescription=" O quarto Hokage é conhecido por ter selado a besta de nove caudas, a Kyuubi, dentro do corpo de Naruto. Antes de fazer isso, 
      o Yondaime lutou contra a Kyuubi em uma batalha épica para salvar a vila de Konoha."
    ></app-small-card>

    <app-small-card
      Id="3"
      photoCover="https://i.pinimg.com/originals/2f/9b/09/2f9b09ee4f8809af4a9e0514c19710a9.png"
      cardTitle="kakashi Hatake Hokage"
      cardDescription=" Kakashi se torna o Sexto Hokage, o líder da vila oculta da folha. Durante seu mandato como Hokage, ele enfrenta vários desafios, incluindo uma invasão de outra vila e uma organização criminosa. Kakashi é retratado como um líder sábio e respeitado, e sua experiência como ninja é inestimável para a proteção da vila."
    ></app-small-card>

    <app-small-card
      Id="4"
      photoCover="https://pm1.narvii.com/6241/0037843089117287fff809167dfab50506267c45_hq.jpg"
      cardTitle="O Sétimo Hokage"
      cardDescription=" Como Hokage, Naruto enfrenta vários desafios, incluindo uma ameaça extraterrestre e a reconstrução da vila após uma grande guerra. Ele é retratado como um líder forte e carismático, que luta para proteger a paz e a segurança da vila e de seus habitantes."
    ></app-small-card>
  </div>
</div>
