<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://gartic.com.br/imgs/mural/t0/t0bi_madara/yondaime-hokage.png"
      cardTitle="Yondaime Relâmpago Amarelo "
      cardDescription="Relâmpago Amarelo Prende a Kiuby"
    >
    </app-big-card>

    <app-big-card
      photoCover="https://i.pinimg.com/originals/f9/c5/e1/f9c5e1ad4f550c6a91e56123c795c97d.png"
      cardTitle="Yondaime Relâmpago Amarelo "
      cardDescription="Relâmpago Amarelo Prende a Kiuby"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://img2.goodfon.com/wallpaper/nbig/e/b6/anime-naruto-naruto-yondaime.jpg"
      cardTitle="A luta decisiva"
      cardDescription=" O quarto Hokage é conhecido por ter selado a besta de nove caudas, a Kyuubi, dentro do corpo de Naruto. Antes de fazer isso, 
      o Yondaime lutou contra a Kyuubi em uma batalha épica para salvar a vila de Konoha."
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
